Has one ever wondered what life is all about? For most people if not all, life seems to be a constant struggle.
One is born, follows a certain education, grows up to be a member of society, struggles with all kinds of endeavors, and then maybe grows old to die.
Despite all this, does one understand oneself at all? Why is there a profound discontentment with one's own existence?
Why does life seem so absurd?
<br>
<br>
The book -- <strong>Wisdom of a grain of sand</strong> -- is a philosophical inquiry on the nature of the self. Like a mirror for one's thoughts, it leads the reader through various existential questions that one might ask if one is really serious about life. It starts as an existential examination of the mind to find out about thought, and the self, then it directs to an exploration of life, and perhaps on the way, to understand after all what goodness is about.
<br>
<br>

<div class="bx">
  <div class="bx-lf">
    <pre class="desktop-display">
  Who am I?
    What is thinking?
      What is consciousness?
        What are feelings?
          What is knowledge?
            What is sorrow?
              What is time?
                What is to be finite?
                  What is infinity?
                    What is to be?
                      What is freedom?
                        What is to live?
                          What is death?
                            What is love?
                              What is happiness?
                                etc.
    </pre>

    <div class="mobile-display">
      Who am I? <br>
      What is thinking? <br>
      What is consciousness? <br>
      What are feelings? <br>
      What is knowledge? <br>
      What is sorrow? <br>
      What is time? <br>
      What is to be finite? <br>
      What is infinity? <br>
      What is to be? <br>
      What is freedom? <br>
      What is to live? <br>
      What is death? <br>
      What is love? <br>
      What is happiness? <br>
      etc.
    </div>
  </div>
  <div class="bx-rg">
    <img src="files/cover_en.png" alt="Book cover" />
  </div>
</div>

<br>
One needs to re-question all of one's preconceived ideas about those subjects.
By doubting all aspects of one's life and digging into each meaning, one's faced with nihility as one starts to see the absurdities of life.
Even the first and perhaps also the last thing that one can cling to, which is thought, should be put to examination.
Also, is there a fundamental relationship between understanding the self and pondering over the true nature of kindness? Is there any difference at all?

<br>
<br>
A book should be accessible to anyone and the internet is amazing for that purpose. That's why it's available for download for free with the links below:
<br>
<br>
[English] &nbsp;-&nbsp; Wisdom of a grain of sand: &nbsp; <a href="files/Wisdom of a grain of sand - Nguyen Chien Cong.pdf" class="book-link" download>pdf</a>, <a href="files/Wisdom of a grain of sand - Nguyen Chien Cong.epub" class="book-link" download>epub</a>, <a href="files/Wisdom of a grain of sand - Nguyen Chien Cong.mobi" class="book-link" download>mobi</a>
<br>
[Français] &nbsp;-&nbsp; La sagesse d'un grain de sable: &nbsp; <a href="files/La sagesse d'un grain de sable - Nguyen Chien Cong.pdf" class="book-link" download>pdf</a>, <a href="files/La sagesse d'un grain de sable - Nguyen Chien Cong.epub" class="book-link" download>epub</a>, <a href="files/La sagesse d'un grain de sable - Nguyen Chien Cong.mobi" class="book-link" download>mobi</a>
<br>
[Tiếng việt] &nbsp;-&nbsp; Sự thông thái của một hạt cát: &nbsp; <a href="files/Su thong thai cua mot hat cat - Nguyen Chien Cong.pdf" class="book-link" download>pdf</a>, <a href="files/Su thong thai cua mot hat cat - Nguyen Chien Cong.epub" class="book-link" download>epub</a>, <a href="files/Su thong thai cua mot hat cat - Nguyen Chien Cong.mobi" class="book-link" download>mobi</a>
<br>
<br>
With all heart, with all mind, this gift is for you.
<br>
<br>
C.
<br>
<br>
<hr/>
<br>
Ps: I'd like to publish the printed version of the book, because it includes some <a href="paintings">paintings</a> as illustrations for the chapters. And of course, having a hard copy of a book is always a nice thing. It will probably be published in a year or two.
<br>
<br>
Here are a few addresses if you want to make a donation, buy me a coffee or something else:
<br>