<br>
<label class="donate-crypto-box">
  <div class="coin">
    <img src="files/btc_qr.png" alt="Bitcoin qr" />
  </div>
  &nbsp;
  BTC:
  <input class="coin-address" onclick="this.select()" readonly="readonly" spellcheck="false" type="text" value="bc1qtqw3tpp2m8q6v62xmnq0u7a2ntahvgxp790hru" />
</label>
<!-- <label class="donate-crypto-box">
  <div class="coin">
    <img src="files/eth_qr.png" alt="Ethereum qr" />
  </div>
  &nbsp;
  ETH:
  <input class="coin-address" onclick="this.select()" readonly="readonly" spellcheck="false" type="text" value="0x8E07ddE63b84EdFE1b6a1a33FC52DabE1F485C1b" />
</label> -->